import React from "react";
import { Container, Row, Col } from "react-bootstrap";
import Particle from "../Particle";
import la from "../../Assets/losangpic.jpg";
import Home2 from "./Home2";
import Type from "./Type";

function Home() {
  return (
    <section>
      <Container fluid className="home-section" id="home">
        <Particle />
        <Container className="home-content">
          <Row>
            <Col md={7} className="home-header">
              <h1 style={{ paddingBottom: 15 }} className="heading">
                Hey there!{" "}
                <span className="wave" role="img" aria-labelledby="wave">
                  👋🏻
                </span>
              </h1>

              <h1 className="heading-name">
                I'm 
                <strong className="main-name"> Roshini Padmanabha</strong>
              </h1>

              <div style={{ padding: 50, textAlign: "left" }}>
                <Type />
              </div>
            </Col>

             <Col md={5} style={{ paddingBottom: 20 }}>
              <img
                src={la}

                alt="home pic"
               className="img-fluid"
                style={{ maxHeight: "450px"}}
              />
            </Col>
          </Row>
        </Container>
      </Container>
      <Home2 />
    </section>
  );
}

export default Home;

<section class="ftcoo-section ftcoo-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftcoo-animate">
            <h2 class="mb-4">Resume</h2>
            <p>Dynamic Data and IT Professional with expertise in data engineering, IT infrastructure, and project management.
               Skilled in Python, SQL, and cloud-based tools, with a track record of delivering high-quality data-driven solutions.</p>
          </div>
        </div>

        <div class="row">
            <h1 class="big-4">Experience</h1>
            <div class="underline"></div>
        </div>
        <br>
        
        <div class="row">
                <div class="col-md-6">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2024</span>
                        <h2>Data Analytics Intern</h2>
                        <span class="position">ResMed</span>
                            <ul>
                                <li>Developed and maintained Snowflake-hosted data models on AWS, creating 50+ tables and views for Power BI dashboards.</li>
                                <li>Produced ETL costing dashboards and usage reports, optimizing SaaS product cost analysis.</li>
                                <li>Managed 20+ Agile user stories in Jira, enhancing query execution and warehouse costs monitoring.</li>
                            </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2024</span>
                        <h2>Graduate Fellow</h2>
                        <span class="position">Cleantech San Diego</span>
                            <ul>
                                <li>Consulted on product data for SaaS solutions in renewable energy and environmental technologies.</li>
                                <li>Built ETL pipelines to analyze sustainability metrics for regional clean energy initiatives.</li>
                                <li>Collaborated with cross-functional teams to deliver actionable data insights to stakeholders.</li>
                            </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2023</span>
                        <h2>Graduate Research Assistant</h2>
                        <span class="position">San Diego State University</span>
                            <ul>
                                <li>Conducted research in data science and machine learning, contributing to academic publications.</li>
                                <li>Provided instructional support for undergraduates, teaching data analytics and system design concepts.</li>
                                <li>Implemented data models for university projects, enhancing decision-making processes.</li>
                            </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2018-2022</span>
                        <h2>Software Developer & Data Engineer</h2>
                        <span class="position">Tata Consultancy Services</span>
                            <ul>
                                <li>Designed scalable ETL pipelines using Python and SQL for enterprise-level data migration projects.</li>
                                <li>Developed microservices architecture for client applications, reducing deployment times by 40%.</li>
                                <li>Optimized data processing workflows, saving $100K annually in operational costs.</li>
                            </ul>
                    </div>
                </div>
        </div>

        <br>
        <br>

        <div class="row">
            <h1 class="big-4">Skills</h1>
            <div class="underline"></div>
        </div>
        <br>
        
        <div class="row">
                <div class="col-md-6">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">Programming Languages</span>
                        <p class="mt-4"> Python, SQL, Bash, Java.</p>
                        <span class="date">Frameworks</span>
                        <p class="mt-4">PySpark, Flask, Snowflake, Tableau, Power BI, TensorFlow.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">Infrastructure</span>
                        <p class="mt-4">AWS, GCP, Snowflake, Databricks.</p>
                        <span class="date">Other Tools</span>
                        <p class="mt-4">Jira, Git, Jenkins, Docker, Kubernetes.</p>
                    </div>
                </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center ftco-animate">
                <p><a href="https://docs.google.com/document/d/1qOVUAXmD7mkWZqWv56RZgHebEmta9xPBbqHdq7-MKJI/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary py-4 px-5">Download Resume</a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Contact Me</h2>
          </div>
        </div>
        
        <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-map-signs"></span>
                    </div>
                    <h3 class="mb-4">Address</h3>
                  <p>San Diego, CA</p>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-paper-plane"></span>
                    </div>
                    <h3 class="mb-4">Email Address</h3>
                    <p>rp6578@sdsu.edu</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-globe"></span>
                    </div>
                    <h3 class="mb-4">LinkedIn</h3>
                    <p><a href="https://www.linkedin.com/in/roshini-padmanabha/" target="_blank" rel="noopener noreferrer">Link</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
